@import "tailwindcss";

@font-face{
   font-family: interBold;
   src: url(./assets/fonts/Inter-Bold.woff);
   font-weight: bold;
}

@font-face{
   font-family: interRegular;
   src: url(./assets/fonts/Inter-Regular.woff);
   font-weight: 400;
}


@font-face{
   font-family: interLight;
   src: url(./assets/fonts/Inter-Light.woff);
   font-weight: 300;
}


@font-face{
   font-family: interMedium;
   src: url(./assets/fonts/Inter-Medium.woff);
   font-weight: 500;
}




body{
   font-family: interLight, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   @apply bg-yellow-50
}

.container{
   @apply mx-auto px-5 max-w-[960px]
}

.flexCol{
   @apply flex flex-wrap flex-col
}
.flexRow{
   @apply flex flex-wrap flex-row
}

.mainNav li{
   @apply border-b-2 border-b-transparent hover:border-b-black text-stone-500 font-black uppercase
}

.halfWidth {
   width: calc(50% - 12px);
 }

 .dashboardMenu li{
   @apply border-b-2 border-b-white hover:border-b-black py-1 duration-300 transition-[border] list-none
 }

.single-van{
   @apply gap-5 items-center bg-white rounded px-3 my-3
}

.filterBtn{
   @apply bg-amber-100 text-gray-500 font-light text-sm py-0.5 px-2.5 rounded cursor-pointer
}

.filterBtn.clear{
   @apply bg-transparent underline
}

.filterBtn.active{
   @apply bg-amber-200
}

/* .loginForm input{
   @apply 
} */